@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    font-family: 'Barlow Condensed', sans-serif;
}
.navBar{
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  /* padding: 10px; */
}

.texto{
   letter-spacing:  0.3em;
}

.my-button {
        width: 200px;
        height: 200px;
        outline-style:initial;
        border-radius: 100px;
        cursor: pointer;
}

.texto2{
     letter-spacing:  0.1em;
}

.texto3{
     letter-spacing: 0.4em;
}